<div class="container-fluid">
  <div class="row justify-content-center my-4">
    <div class="col-12">
      <div class="container-fluid">
          <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport" infiniteScroll
                                       [infiniteScrollDistance]="2"
                                       [infiniteScrollThrottle]="50"
                                       (scrolled)="onScroll()"
                                       [scrollWindow]="false"
                                       (scrolledIndexChange)="test($event)">
            <div class="row" *cdkVirtualFor="let movieRow of moviesArray">
              <div class="col-20perc my-3" *ngFor="let movie of movieRow">
                <mat-card class="movie-card">
                  <mat-card-header class="mc-header">
                    <mat-card-title><a [routerLink]="['/movie', movie.imdbID]" matLine>{{movie.Title}}</a></mat-card-title>
                    <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>
                  </mat-card-header>

                  <mat-card-content class="mc-content">
                    <a [routerLink]="['/movie', movie.imdbID]" matLine><img mat-card-image
                                                                            [src]="movie.Poster!='N/A'?movie.Poster:noPosterSubLink"
                                                                            class="poster"></a>

                  </mat-card-content>
                  <mat-card-actions class="mc-actions clearfix">
                    <button mat-icon-button color="warn" title="Добавить в избранные" (click)="addToFavorites(movie)"
                            [disabled]="movieIsInFavorites(movie.imdbID)">
                      <mat-icon aria-label="A heart icon">favorite</mat-icon>
                    </button>
                    <button mat-icon-button class="float-right" title="Удалить из избранных"
                            (click)="removeFromFavorites(movie)"
                            [disabled]="movieIsNotInFavorites(movie.imdbID)">
                      <mat-icon aria-label="A heart icon">clear</mat-icon>
                    </button>
                  </mat-card-actions>

                </mat-card>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>

          <!--<div class="col-20perc my-3" *ngFor="let movie of moviesArray">

            <mat-card class="movie-card">
              <mat-card-header class="mc-header">
                <mat-card-title><a [routerLink]="['/movie', movie.imdbID]" matLine>{{movie.Title}}</a></mat-card-title>
                <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content class="mc-content">
                <a [routerLink]="['/movie', movie.imdbID]" matLine><img mat-card-image
                                                                        [src]="movie.Poster!='N/A'?movie.Poster:noPosterSubLink"
                                                                        class="poster"></a>

              </mat-card-content>
              <mat-card-actions class="mc-actions clearfix">
                <button mat-icon-button color="warn" title="Добавить в избранные" (click)="addToFavorites(movie)"
                        [disabled]="movieIsInFavorites(movie.imdbID)">
                  <mat-icon aria-label="A heart icon">favorite</mat-icon>
                </button>
                <button mat-icon-button class="float-right" title="Удалить из избранных"
                        (click)="removeFromFavorites(movie)"
                        [disabled]="movieIsNotInFavorites(movie.imdbID)">
                  <mat-icon aria-label="A heart icon">clear</mat-icon>
                </button>
              </mat-card-actions>

            </mat-card>
          </div>-->
      </div>

    </div>

  </div>
</div>


